**/.DS_Store
.cache/
__pycache__/
**/__pycache__/
*.py[cod]
.idea
.python-version
.venv
.vscode
.wandb
TODO.txt
tmp
*.ckpt
*.gif
*.heic
*.heif
*.jpg
*.json
*.mov
*.mp4
*.png
*.pt
*.safetensors
*.safetensors.index.json
*.safetensors.index.json.lock
*.webp
configs/*.yaml
!configs/inference/
!configs/inference/*.yaml
!configs/training/
!configs/training/*.yaml
outputs
wandb
*.sbatch
fine-tune-ltx*.sh
control_evaluations/
evaluation_codes/
tapnet/
temp.py
temptemp.py
create_overlap.py
create_waymo_json.py
extract_pose_bbox_for_object_motion_control.py
extract_yolo_bbox_for_object_motion_control.py
modify_dataset_for_seg.py
split_waymo_videos.py
scripts/preprocess_arc_dataset.py
!assets/*.mp4
!assets/*.png
!assets/*.json
!assets/*.svg
!examples/
!examples/inference/
!examples/inference/**/
!examples/inference/**/*.jpg
!examples/inference/**/*.png
!examples/inference/**/*.mp4
